.featureInfoDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.featureInfoDiv > img {
  object-fit: cover;
}

.featureInfoDiv > h1 {
  color: #323232;
}

.featureInfoDiv > h2,
h3 {
  color: #4a4a4a;
}

.card {
  border-radius: 10px;
}

.card-row {
  height: 25vh;
}

.likesDiv {
}
